<link href = "../css/home_st.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark navbar-inverse bg-dark fixed-top" role="navigation">

    <div class="container">

        <a href="#/" class="navbar-brand">dovezi.rs</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div ng-show="notLoggedFlag">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#/restoran">
                            Restorani
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/login">
                            Prijava
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/registration">
                            Registracija
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show="loggedFlag">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#/restoran">
                            Restorani
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" ng-click="goToProfile()">
                            Profil: {{user.username}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" ng-click="logout()">
                            Odjava
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>

<header class = "text-white" style="padding: 250px; background-image: url(http://foodyclub.rs/img/menu.webp)">
    <div class="container">
        <h1 class="text-center font-weight-bold">
            Naručite dostavu hrane
            <br/>
            iz najboljih restorana
        </h1>
    </div>
</header>



